source_up .proxy_cat_envrc || true

export PORT=${PORT:-4000}
export BACKEND_PORT=${BACKEND_PORT:-4004}
export UNSPLASH_API_KEY=${UNSPLASH_API_KEY:-}
export CONFIG_YAML=${CONFIG_YAML:-./custom.example.yml}
export CACHE_TTL=${CACHE_TTL:-1000}
